.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 var(--space-sm);
}

@media (min-width: 48em) {
  .container {
    padding: 0 var(--space-md);
  }
}
